<!-- Validation failure messages -->
<% if @article.errors.any? %>
  <% @article.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Article #<%= @article.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_article/<%= @article.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @article.title %>">
      </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="<%= @article.date %>">
      </div>

      <!-- Label and input for link -->
      <div class="form-group">
        <label for="link" class="control-label">
          Link
        </label>

        <textarea id="link" name="link" placeholder="Link" class="form-control" rows="3"><%= @article.link %></textarea>
      </div>

      <!-- Label and input for journalist_id -->
      <div class="form-group">
        <label for="journalist_id" class="control-label">
          Journalist
        </label>

        <input type="text" id="journalist_id" name="journalist_id" placeholder="Journalist" class="form-control" value="<%= @article.journalist_id %>">
      </div>

      <button class="btn btn-warning">
        Update Article
      </button>
      or
      <a href="/articles/<%= @article.id %>">Cancel</a>
    </form>
  </div>
</div>
