<div class="page-header">
  <h1>
    Articles
    <a href="/articles/new" class="btn btn-lg btn-success">New Article</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Link</th>
        <th>Journalist</th>
        <th>Average Rating</th>
        <th>Actions</th>
      </tr>

      <% @articles.each do |article| %>
      <tr>
        <td><a href="/articles/<%= article.id %>"><%= article.title %></a></td>
        <td><%= article.date %></td>
        <td><a href="<%= article.link %>"><%= article.link %></a></td>
        <td><a href="<%= article.journalist.name%>"><%= article.journalist.name%></a></td>
        <td><%= Rating.where(article_id: article.id).average("rating") %></td>
        <td>
          <a href="/articles/<%= article.id %>" class="btn btn-primary">Show</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
