<!-- Validation failure messages -->
<% if @rating.errors.any? %>
  <% @rating.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Rating #<%= @rating.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_rating/<%= @rating.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Comment
        </label>

        <textarea id="body" name="body" placeholder="Comment" class="form-control" rows="3"><%= @rating.body %></textarea>
      </div>

      <!-- Label and input for rating -->
      <div class="form-group">
        <label for="rating" class="control-label">
          Rating
        </label>

        <input type="text" id="rating" name="rating" placeholder="Rating" class="form-control" value="<%= @rating.rating %>">
      </div>

      <!-- Label and input for article_id -->
      <input type="hidden" name="article_id" value="<%= @rating.article_id  %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <button class="btn btn-warning">
        Update Rating
      </button>
      or
      <a href="/ratings/<%= @rating.id %>">Cancel</a>
    </form>
  </div>
</div>
